*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
}
@font-face {
    font-family: custom1;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: custom2;
    src: url(fonts/Cormorant-Italic.ttf);
}
.fa,.faa{
    font-family: custom1;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-right: 20px;
    font-weight: 600;
    transition: text-decoration 0.7s , text-underline-offset 0.7s;
}
.fa:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.faa{
    color: white;
    
}
.faa:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.div1{
    display: inline-block;
}
.div2{
    display: inline-block;
}
.logo{
    width: 60px;
}
.ri-user-3-fill,.ri-shopping-cart-2-fill{
    font-size: 1.2rem;
    padding-right: 20px;
    cursor: pointer;
    color: white;
}
.ri-menu-line{
    display: none;
}
.div3{
    display: inline-block;
}
.main-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
@media screen and (max-width: 600px) {
    .ri-menu-line{
        display: block;
        color: white;
    }
     .div1,.ri-shopping-cart-2-fill,.ri-user-3-fill{
        display: none;
    }
    .logo{
        width: 40px;
    }
    .main-div{
        justify-content: space-between;
        height: 5vh;
    }
    .div2{
        padding-left: 20px;
    }
    .div3{
        padding-right: 20px;
    }
    
}
.div4-heading{
    font-family: custom2;
    font-size: 5rem;
    color: white;
    padding-top: 150px;
}
.main-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-div{
    height: 75vh;
    background: linear-gradient(rgba(0,0,0,0.5)),url(channel/young-confident-woman-smiling.webp) no-repeat center center/cover fixed;
}
@media screen and (max-width: 600px) {
     .div4-heading{
        font-size: 2.5rem;
        padding-top: 100px;
    }
    .parent-div{
        height: 40vh;
        background-attachment: scroll;
    }
    
}
.box-heading{
    font-family: custom2;
    font-size: 4rem;
    width: 35vw;
}
.box{
    display: inline-block;
}
.box2-span{
    font-family: custom1;
    font-size: 0.7rem;
}
.box2{
    display: inline-block;
}
.box2-para{
    font-family: custom2;
    font-size: 1.2rem;
    font-weight: bold;
    width: 35vw;
    padding-top: 10px;
}
.box2-para2{
    font-family: custom1;
    font-size: 0.9rem;
    color: gray;
    width: 40vw;
    padding-top: 10px;
}
.main-div3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
hr{
    color: black;
    margin-left: 80px;
    margin-right: 80px;
}
@media screen and (max-width: 600px) {
    .box-heading{
        font-size: 1.5rem;
        width: 40vw;
    }
    .box2-span{
        font-size: 0.5rem;
    }
    .box2-para{
        font-size: 0.8rem;
        width: 50vw;
    }
    .box2-para2{
        font-size: 0.5rem;
        width: 50vw;
    }
    .main-div3{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    hr{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    
}
.box3-span{
    font-family: custom1;
    font-size: 0.8rem;
}
.box3-heading{
    font-family: custom2;
    font-size: 4rem;
    width: 88vw;
    padding-top: 20px;
}
.box3-para{
    font-family: custom1;
    font-size: 0.9rem;
    color: gray;
    width: 85vw;
    padding-top: 50px;
}
.main-div4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
@media screen and (max-width: 600px) {
    .box3-span{
        font-size: 0.5rem;
    }
    .box3-heading{
        font-size: 1.5rem;
    }
    .box3-para{
        font-size: 0.8rem;
        width: 90vw;
    }
    .main-div4{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    
}
.box4-span{
    font-family: custom1;
    font-size: 0.7rem;
    color: white;
}
.box4-heading{
    font-family: custom2;
    font-size: 3rem;
    width: 32vw;
    padding-top: 20px;
    color: white;
}
.box4-para{
    font-family: custom1;
    font-size: 0.9rem;
    width: 40vw;
    padding-top: 20px;
    color: white;
}
.box4{
    margin-left: 100px;
    padding-top: 120px;
}
.main-div5{
    background: linear-gradient(rgba(0,0,0,0.5)),url(channel/stock-photo-young-woman-in-sunglasses.webp) no-repeat center center/cover fixed;
    height: 80vh;
}
@media screen and (max-width: 600px) {
    .box4-span{
        font-size: 0.5rem;
    }
    .box4{
        margin-left: 25px;
        padding-top: 60px;
    }
    .box4-heading{
        font-size: 2rem;
        width: 70vw;
    }
    .box4-para{
        font-size: 0.8rem;
        width: 70vw;
    }
    .main-div5{
        background-attachment: scroll;
        height: 60vh;
    }
    
}
.box5-span{
    font-family: custom1;
    font-size: 0.7rem;
    margin-left: 150px;
}
.box5-heading{
    font-family: custom2;
    font-size: 3rem;
    padding-top: 20px;
    margin-left: 150px;
}
.sub-box-para{
    font-family: custom2;
    font-size: 1.2rem;
    font-weight: bold;
    width: 30vw;
    padding-top: 20px;
}
.sub-box{
    display: inline-block;
   
}
.sub-box2-para{
    font-family: custom1;
    font-size: 0.9rem;
    color: gray;
    width: 40vw;
   padding-top: 50px;
    
}
.sub-box2-para2{
    font-family: custom1;
    font-size: 0.9rem;
    color: gray;
    width: 40vw;
    padding-top: 20px;
  
}
.sub-box2{
    display: inline-block;
}
.main-div6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box5{
    margin-top: 120px;
    margin-bottom: 120px;
}
@media screen and (max-width: 600px) {
    .box5-span{
        font-size: 0.5rem;
        margin-left: 150px;
    }
    .box5-heading{
        font-size: 2rem;
        margin-left: 80px;
        width: 70vw;
    }
    .sub-box-para{
        font-size: 0.6rem;
        width: 40vwvw;
    }
    .sub-box2-para{
        font-size: 0.6rem;
        width: 50vw;
    }
    .sub-box2-para2{
        font-size: 0.6rem;
        width:50vw;
    }
    .box5{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
}
.span-explore{
    font-family: custom1;
    font-size: 0.8rem;
    color: white;
}
.para-div100{
    font-family: custom2;
    font-size: 3rem;
    font-weight: 600;
    width: 30vw;
    color: white;
}
.para2-div100{
    font-family: custom1;
    font-size: 0.8rem;
    width: 35vw;
    color: white;
    padding-top: 10px;
}
.div100-butt{
    margin-top: 30px;
}
.div100{
    margin-top: 150px;
    margin-right: 100px;
}
.div100-div{
    display: flex;
    justify-content: right;
    align-items: baseline;
    background-image: linear-gradient(rgba(0,0,0,0.5)), url(channel/stock-photo-young-woman-in-sunglasses.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
}
.butt-7{
    font-family: custom1;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    border: 1px solid black;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.7s ease, background-color 0.7s ease, transform 0.5s ease-in-out;
}
.butt-7:hover{
    border: 1px solid white;
    color: white;
    background-color: black;
    transform: scale(1.1);
}
@media screen and (max-width: 600px) {
    .span-explore{
        font-size: 0.5rem;
    }
    .para-div100{
        font-size: 1.2rem;
        width: 40vw;
    }
    .para2-div100{
        font-size: 0.5rem;
    }
    .div100-butt{
        margin-top: 10px;
    }
    .div100{
        margin-top: 50px;
        margin-right: 30px;
    }
    .div100-div{
        height: 30vh;
        background-attachment: scroll;
    }
    .butt-7{
        padding: 8px 10px 8px 10px;
        font-size: 0.4rem;
    }

    
}
.div50-h{
    font-family: custom2;
    font-size: 1.5rem;
}
.div50-fa{
    font-family: custom1;
    text-decoration: none;
    color: grey;
    font-size: 1rem;
    padding-bottom: 10px;
    font-weight: 600;
    transition: color 0.7s ease, transform 0.5s ease-in-out;
}
.div50-fa:hover{
    color: black;
    transform: scale(1.1);
}
.div50-anch{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.div50{
   
    width: 10vw;
    padding-left: 55px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline-block;
}
.footer-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .div50-h{
        font-size: 0.8rem;
    }
    .div50-fa{
        font-size: 0.5rem;
        padding-bottom: 5px;
    }
    .div50{
        width: 30vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .div50-anch{
        margin-top: 20px;
    }
}
hr{
    color: black;
}
.last-para{
    font-family: custom1;
    font-size: 1rem;
    color: gray;
    font-weight: 600;
}
.last-div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .last-para{
        font-size: 0.5rem;
    }
    .last-div{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}