*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
@font-face {
    font-family: custom1;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: custom2;
    src: url(fonts/Cormorant-Italic.ttf);
}
.fa,.faa{
    font-family: custom1;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-right: 20px;
    font-weight: 600;
    transition: text-decoration 0.7s , text-underline-offset 0.7s;
}
.fa:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.faa{
    color: white
    
}
.faa:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.div1{
    display: inline-block;
}
.div2{
    display: inline-block;
}
.logo{
    width: 60px;
}
.ri-user-3-fill,.ri-shopping-cart-2-fill{
    font-size: 1.2rem;
    padding-right: 20px;
    cursor: pointer;
    color: white;
}
.ri-menu-line{
    display: none;
}
.div3{
    display: inline-block;
}
.main-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
@media screen and (max-width: 600px) {
    .ri-menu-line{
        display: block;
        color: white;
    }
     .div1,.ri-shopping-cart-2-fill,.ri-user-3-fill{
        display: none;
    }
    .logo{
        width: 40px;
    }
    .main-div{
        justify-content: space-between;
        height: 5vh;
    }
    .div2{
        padding-left: 20px;
    }
    .div3{
        padding-right: 20px;
    }
    
}
.div4-heading{
    font-family: custom2;
    font-size: 5rem;
    color: white;
    padding-top: 150px;
}
.main-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-div{
    height: 75vh;
    
    background: linear-gradient(rgba(0,0,0,0.5)),url(channel/low-angle-portrait-of-beautiful-woman-against-sky.webp) no-repeat center center/cover fixed;
}
@media screen and (max-width: 600px) {
     .div4-heading{
        font-size: 2.5rem;
        padding-top: 100px;
    }
    .parent-div{
        height: 40vh;
        background-attachment: scroll;
    }
    
}
.box-span{
    font-family: custom1;
    font-size: 0.8rem;
    margin-left: 160px;
}
.box{
    margin-top: 100px;
   
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-para{
    font-family: custom2;
    font-size: 2rem;
    width: 30vw;
    text-align: center;
    padding-top: 30px;
}
@media screen and (max-width: 600px) {
    .box-span{
        font-size: 0.5rem;
        margin-left: 100px;
    }
    .box{
        margin-top: 50px;
    }
    .box-para{
        font-size: 1.5rem;
        width: 60vw;
    }
    
}
#name,#email{
    font-family: custom1;
    width: 28vw;
    padding: 8px 20px ;
    font-size: 1rem;
    font-weight: bold;

    border: none;
    outline: none;
}
@media screen and (max-width: 600px) {
    #name,#email{
        width: 30vw;
        font-size: 0.7rem;
        padding: 5px 15px;
    }
    
}
#message{
    font-family: custom1;
    width: 28vw;
    height: 20vh;
    padding: 8px 20px ;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
}
@media screen and (max-width: 600px) {
    #message{
        width: 30vw;
        font-size: 0.7rem;
        padding: 5px 15px;
        height: 10vh;
    }
    
}
.box2{
    display: flex;
    flex-direction: column;
}
.butt-7{
    font-family: custom1;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    border: 1px solid black;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.7s ease, background-color 0.7s ease, transform 0.5s ease-in-out;
}
.butt-7:hover{
    border: 1px solid white;
    color: white;
    background-color: black;
    transform: scale(1.1);
}
.form{
    font-family: custom1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.group{
    position: relative;
    display: flex;
    flex-direction: column;
}
.error{
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}
#name:invalid+.error,#email:invalid+.error,#message:invalid+.error{
    display: none;
}
.button{
    margin-top: 10px;
}
.box2{
    padding-top: 100px;
}
.box3-span{
    font-family: custom1;
    color: gray;
    font-size: 0.8rem;
}
.box3-para{
    font-family: custom2;
    font-size: 1.2rem;
}
.box3{
    display: inline-block;
    margin-bottom: 20px;
    
}
hr{
    width: 35vw;
}
.box4{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 250px;
    
}
.box5{
    margin-top: 20px;
    margin-bottom: 20px;
}
.box6-span{
    font-family: custom1;
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
    
}
.box6{
    margin-top: 20px;
}
.ri-facebook-fill,.ri-twitter-fill,.ri-instagram-fill,.ri-youtube-fill{
    font-size: 1.3rem;
    padding-left: 10px;
    cursor: pointer;
}
.main-boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
}
.boxx{
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .box3-span{
        font-size: 0.6rem;
    }
    .box3-para{
        font-size: 0.7rem;
    }
    .box4{
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .box3{
        margin-bottom: 10px;
    }
    .box5{
        margin-bottom: 10px;
        margin-bottom: 10px;
    }
    hr{
        width: 45vw;
    }
    .box6-span{
        font-size: 0.6rem;
    }
    .box6{
        margin-top: 10px;
    }
    .ri-facebook-fill,.ri-twitter-fill,.ri-instagram-fill,.ri-youtube-fill{
    font-size: 0.8rem;
    padding-left: 5px;
}
.butt-7{
     padding: 10px 20px 10px 20px;
     font-size: 0.5rem;
}
.main-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
    
}

.div50-h{
    font-family: custom2;
    font-size: 1.5rem;
}
.div50-fa{
    font-family: custom1;
    text-decoration: none;
    color: grey;
    font-size: 1rem;
    padding-bottom: 10px;
    font-weight: 600;
    transition: color 0.7s ease, transform 0.5s ease-in-out;
}
.div50-fa:hover{
    color: black;
    transform: scale(1.1);
}
.div50-anch{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.div50{
   
    width: 10vw;
    padding-left: 55px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline-block;
}
.footer-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .div50-h{
        font-size: 0.8rem;
    }
    .div50-fa{
        font-size: 0.5rem;
        padding-bottom: 5px;
    }
    .div50{
        width: 30vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .div50-anch{
        margin-top: 20px;
    }
}
.hori{
    color: black;
    width: 100vw;
}
.last-para{
    font-family: custom1;
    font-size: 1rem;
    color: gray;
    font-weight: 600;
}
.last-div{
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .last-para{
        font-size: 0.5rem;
    }
    .last-div{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}
footer{
    background-color: lightgrey;
}



